<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ContactServlet</servlet-name>
        <servlet-class>ContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubscribeServlet</servlet-name>
        <servlet-class>SubscribeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnquiryHandlerServlet</servlet-name>
        <servlet-class>EnquiryHandlerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubscriberListServlet</servlet-name>
        <servlet-class>SubscriberListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnquiryListServlet</servlet-name>
        <servlet-class>EnquiryListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validateUserServlet</servlet-name>
        <servlet-class>validateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminPageServlet</servlet-name>
        <servlet-class>AdminPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContactServlet</servlet-name>
        <url-pattern>/ContactServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubscribeServlet</servlet-name>
        <url-pattern>/SubscribeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnquiryHandlerServlet</servlet-name>
        <url-pattern>/EnquiryHandlerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubscriberListServlet</servlet-name>
        <url-pattern>/SubscriberListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnquiryListServlet</servlet-name>
        <url-pattern>/EnquiryListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validateUserServlet</servlet-name>
        <url-pattern>/validateUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPageServlet</servlet-name>
        <url-pattern>/AdminPageServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
